@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background: #fffcf7;
	width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
}

main {
	width: 100vw;
	min-height: 60vh;
	margin: 20px 0;
}
